@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 200;

    background-color: var(--color-base);
    color: var(--color-tertiary)
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary:#1db954;
  --color-secondary: #535353;
  --color-tertiary:#b3b3b3;
  --color-base: #212121;
  --color-dark: #121212;
  --color-light: #ffff;
}

h1 {
  color: var(--color-light);
  font-size: 3rem;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}